src/login.js text eol=lf
src/App.css text eol=lf
src/App.js text eol=lf
src/App.test.js text eol=lf
src/courses.js text eol=lf
src/index.css text eol =lf
src/index.js text eol=lf
src/posts.js text eol=lf
src/login.js text eol=lf
src/reportWebVitals.js text eol=lf
src/setupTests.js text eol=lf
src/login.js text eol=lf
package-lock.json text eol=lf
package.json text eol=lf

